venv/
.env
.env.test
__pycache__/
*.pyc
*.pyo
.idea/
.vscode/
.coverage
htmlcov/
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl