# Python
.virtual/
.virtual
.env
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# IDE
.idea/
.vscode/

# Coverage
.coverage
htmlcov/

chroma_data/
*.chroma
